.eventCard {
    width: 100%;
    max-width: 325px;
    padding: 20px 20px 12px;

    background-color: var(--t4b-white);
    border-radius: 16px;
}

.circle {
    width: 24px;
    height: 24px;

    background-color: var(--t4b-main-purple);
    border-radius: 50%;
}

.mathInfo {
    padding-bottom: 16px;

    border-bottom: 1px solid var(--t4b-stroke);
}

.matchInfoTitleContainer {
    display: flex;
    gap: 8px;
    align-items: center;
}

.liveBadge {
    padding: 4px 8px;

    color: var(--t4b-white);
    font-weight: var(--t4b-semibold);
    font-size: 12px;
    line-height: 14px;

    background-color: var(--t4b-main-purple);
    border-radius: 8px;
}

.matchInfoTitle {
    color: var(--t4b-black);
    font-weight: var(--t4b-medium);
    font-size: 18px;
}

.matchInfoTournament {
    color: #9F9CA9;
    font-weight: var(--t4b-medium);
    font-size: 13px;
    line-height: 16px;
}

/* scoreboard */
.scoreboard {
    display: flex;
    gap: 4px;
    align-items: flex-end;
    justify-content: center;
    padding-top: 16px;
}

.teamName {
    width: 100%;
    overflow: hidden;

    font-weight: var(--t4b-regular);
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
}

.logoCircle {
    width: 60px;
    height: 60px;

    background-color: var(--t4b-main-purple);
    border-radius: 8px;
}

.teamContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    width: 105px;

    font-weight: var(--t4b-regular);
}

.scoreContainer {
    display: flex;
    gap: 8px;
    padding-top: 16px;
    padding-bottom: 16px;

    color: var(--t4b-black);
    font-weight: var(--t4b-semibold);
    font-size: 24px;
    line-height: 29px;
}

/* ScoreMaps */
.scoreMaps {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 20px;

    font-weight: var(--t4b-regular);
    font-size: 12px;
    line-height: 14px;
}

.scoreMapsContainer {
    display: flex;
    gap: 8px;
    width: 100%;
    max-width: fit-content;
    padding: 8px 12px;

    background-color: transparent;
    border: 1px solid var(--t4b-stroke);
    border-radius: 8px;
}