.eventCard {
    width: 100%;
    max-width: 325px;
    padding: 20px 20px 12px;

    background-color: var(--t4b-white);
    border-radius: 16px;
}

.circle {
    width: 24px;
    height: 24px;

    background-color: var(--t4b-main-purple);
    border-radius: 50%;
}
