.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 12px;

  color: var(--t4b-black);
}

.header {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: var(--t4b-black);
  font-weight: 800;
  font-size: 110px;
  line-height: 103px;
  text-transform: uppercase;
}

.titleTextContainer {
  position: relative;
}

.titleText {
  position: relative;
  z-index: 2;
}

.titleWrapper {
  display: flex;
  gap: 30px;
}

.titleBackground {
  position: absolute;
  bottom: -10px;
  left: -50px;
  z-index: 1;

  width: 120%;
  height: 120%;
}

.purpleTitle {
  color: var(--t4b-main-purple);
  line-height: 103px;
}

.logo {
  display: flex;

  font-weight: 800;
  font-size: 32px;
  line-height: 38px;
}

.description {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
}

.logoContainer {
  display: flex;
  gap: 8px;
  align-items: center;
}

.tabs {
  display: flex;
  gap: 12px;
}