.tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: fit-content; 
    margin: 0 auto;
    padding: 4px;

    background-color: var(--t4b-white);
    border-radius: 8px;
}

.tab {
    padding: 10px 16px;

    color: var(--t4b-black);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    background-color: transparent;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.active {
    color: var(--t4b-white);

    background-color: var(--t4b-main-purple);

    transition: all 0.2s;
}